.checkout__cart {
  background-color: aquamarine;
  margin-top: 120px;
  display: flex;
}

.checkout__cart h6 {
  margin-bottom: 10px;
}

.checkout__cart span {
  position: relative;
  margin-left: 330px;
  top: -15px;
}

.checkout__cart1 {
  padding: 10px 15px;
  background-color: #0a1d37;
  border-radius: 10px;
}

.checkout__cart1 h6,
h4 {
  color: #fff;
}

.auth__btn {
  border: 1px solid #0a1d37;
}
