.clock__wrapper {
  width: 430px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
}

.clock__data {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock__data span {
  padding-left: 10px;
  font-size: 30px;
}

.box__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box__text h1 {
  color: var(--heading-text-color);
}

.clock__data h5 {
  font-size: 18px;
}
